
@media screen and (orientation:portrait) and (max-width: 1000px) { 
.custom {
  display: visible !important;
  visibility: visible !important;
}
}
.modal-wrap.active {
  visibility: visible;
  z-index: 999999;
}

.hidden {
  opacity: 09;
  z-index: 999;
}
